* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* background-color: #505050; */
    scroll-behavior: smooth;
}

.img-container {

    background-image: url("/asset/bg_header1.png");
    height: 1220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #505050;
    content: "";
    /* margin-top: -30px; */
}



.container {
    margin-left: 70px;
    margin-right: 70px;
    width: auto;
    height: auto;
}

.container-header {
    width: 100%;
    height: 180px;
}

.row-header-top {
    /* margin-top: 30px; */
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -20px;
}

.row-header-bottom {
    width: 100%;
    height: 40px;
    border-top: 1px solid #616161;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-bottom: 20px; */
    margin-top: 10px;
    padding-top: 10px;
}

.row-column-header-top {
    width: 585px;
    height: 70px;
}

.img-logo-row-column-header-top {
    width: 179px;
    height: 80%;
}

.row-column-header-top-right {
    width: 340px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 0px;
    z-index: 555;
}

.layout-row-column-header-top-right {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 222;
}

.button-row-column-header-top {
    width: 45px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 222;

}

.input-row-column-header-top {
    width: 250px;
    height: 100%;
    z-index: 222;
}

.search-row-column-header-top {
    width: 45px;
    height: 100%;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 222;
}

.search-row-column-header-top:hover {
    cursor: pointer;
}

.fa-search {
    color: white;
    background-color: #2e2e2e;
}

.search-header {
    width: 100%;
    height: 100%;
    /* background-color: #5D5D5D; */
    border: none;
    outline: none;
    padding-left: 20px;
    color: white;
    background: rgba(92, 92, 92);
}

.search-header::placeholder {
    color: white;
    font-size: 14px;
}

.fa-bars,
.material-icons {
    color: #2e2e2e;
    background-color: white;
}
.menu-button-header-hover::-webkit-scrollbar {
    width: 5px;
}

.menu-button-header-hover::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
}

.menu-button-header-hover::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.menu-button-header-hover::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.menu-button-header-hover {
    
    background-color: white;
    width: 200px;
    height: 150px;
    position: absolute;
    margin-top: 190px;
    margin-left: 155px;
    padding: 5px;
    z-index: -1;
    overflow-y: auto;
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050;
    display: none;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
/* .button-row-column-header-top:hover .menu-button-header-hover,
.button-row-column-header-top:focus .menu-button-header-hover,
.button-row-column-header-top:focus-within .menu-button-header-hover {
    transition-delay: 0s, 0s, 0.3s;
    visibility: visible;
    transform: translateY(0%);
    z-index: 5;
} */

.menu-button-header-hover div {
    width: 100%;
    background-color: white;
    font-size: 14px;
    z-index: 111;
    padding: 3px;
}

.menu-button-header-hover div:hover{
    color: #fca22c;
    background-color: #888;
}

.row-header-bottom-button {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.row-header-bottom-single {
    width: 25%;
    height: 100%;
}

.row-header-bottom-button ul {
    font-size: 13px;
    margin-right: 20px;
    color: #888;
    /* opacity: 0.8; */
    cursor: pointer;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
}

.row-header-bottom-button ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    /* border-bottom: 2px solid #00bcd4; */
}

/* .row-header-bottom-button ul li:hover {
} */

.row-header-bottom-button ul li:hover {
    color: white;
    opacity: 1;
}

.icon-row-header-bottom-single {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
}

.fa-user,
.fa-shopping-cart {
    font-size: 30px;
    color: white;
    background: rgba(76, 175, 80, 0);
}

.fa:hover {
    cursor: pointer;
}

.quantity-cart-header {
    position: absolute;
    font-size: 13px;
    margin-top: -10px;
    margin-left: -5px;
    color: #ffc229;
    border-radius: 50%;
    padding: 3px;
    background-color: #2e2e2e;
}

/* menu header */

.CROSS-BODY-hover-button {
    display: none;
    width: 700px;
    height: 300px;
    position: absolute;
    background-color: white;
    z-index: 666;
    border-radius: 2px;
    margin-top: 10px;
    box-shadow: 0px 5px 10px 0px rgba(58, 92, 107, 0.96);
    
}
.CROSS-BODY-hover-button-column{
    width: 33%;
    height: 100%;
    float: left;

    padding: 20px;
}
.CROSS-BODY-hover-button-column p{
    padding: 3px;
    font-weight: 200;
    font-size: 12px;
    color: #616161;
}
.CROSS-BODY-hover-button-column p:hover{
    cursor: pointer;
    color: #0976B4;
}
@keyframes example {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 10px;
    }
}
.CROSS-BODY{
    padding-bottom: 20px;
}
.CROSS-BODY:hover .CROSS-BODY-hover-button {
    display: block;
    animation-name: example;
    animation-duration: 1s;
}

.container-body {
    width: 100%;
    height: 500px;
}

.container-body-layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-body-text {
    width: 500px;
    height: 300px;
    color: white;
    padding-top: 30px;
}
.material-icons{
    z-index: 222;
}
.container-body-text .h1-body {
    font-size: 5rem;
    text-align: center;
    font-weight: bolder;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e2e2e, 0 0 40px #2e2e2e, 0 0 50px #2e2e2e,
            0 0 60px #2e2e2e, 0 0 70px #2e2e2e;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #616161, 0 0 40px #616161, 0 0 50px #616161, 0 0 60px #616161,
            0 0 70px #616161, 0 0 80px #616161;
    }
}

.container-body-text h3 {
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    margin-top: -20px;
}

.container-body-text .sale {
    font-size: 15rem;
    color: #ffc229;
    margin-top: -100px;
    font-weight: 400;
    text-align: center;
}

.container-body-text .p1 {
    position: absolute;
    margin-top: -185px;
    font-size: 24px;
    margin-left: 60px;
}

.container-body-text .sale-2 {
    position: absolute;
    margin-top: -200px;
    font-size: 40px;
    /* margin-left: 60px; */
    color: #ffc229;
    margin-left: 290px;
}

#mySidenav {
    position: absolute;
    transition: 0.5s;
    padding: 7px;
    width: 115px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    border-radius: 3px;
    margin-top: -185px;
    margin-left: 340px;
    background-color: white;
}

#mySidenav:hover {
    margin-left: 360px;
    background-color: #2e2e2e;
    color: white;
}

#mySidenav a {
    text-align: center;
    width: 100%;
}

/*  */

.container-background-user-hover {
    width: 220px;
    height: 150px;
    display: none;
    position: absolute;
    margin-left: -180px;
    padding: 10px;
}

.container-background-user-hover-div {
    width: auto;
    height: 130px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 2px #616161, 0 10px 10px rgba(0, 0, 0, 0.22);
}

.icon-row-header-bottom-single .fa-user:hover .container-background-user-hover {
    display: block;
    animation-duration: 1s;
    animation-name: user;
}

@keyframes user {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 0px;
    }
}

.container-background-cart-hover {
    width: 270px;
    height: 170px;
    display: none;
    position: absolute;
    margin-left: -230px;
    padding: 10px;
    color: #2e2e2e;
}

.container-background-cart-hover-div {
    width: auto;
    height: 150px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 2px #616161, 0 10px 10px rgba(0, 0, 0, 0.22);
}

.icon-row-header-bottom-single .fa-shopping-cart:hover .container-background-cart-hover {
    display: block;
    animation-duration: 1s;
    animation-name: cart;
}

@keyframes cart {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 0px;
    }
}

.container-background-user-hover a {
    display: block;
    color: #2e2e2e;
    padding: 5px;
    font-size: 14px;
}

.container-background-user-hover a:hover {
    color: #ffc229;
}

.container-background-cart-hover p {
    font-size: 14px;
}

.container-background-cart-hover-1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-background-cart-hover-2 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.container-background-cart-hover-2 a {
    background-color: #ffc229;
    color: white;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.total-view-cart {
    font-size: 13px;
}

.container-background-cart-hover-2 a:hover {
    background-color: #fca22c;
}

/* product */

.container-product-home {
    width: 100%;
    height: auto;
    margin-top: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-home {
    width: 270px;
    height: 330px;
    border-radius: 10px;
}

.layout-product-img {
    width: 100%;
    height: 100%;
}

.layout-product-img img {
    width: 100%;
    height: 100%;
    transition: 0.6s ease;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(34, 60, 72, 0.96);
}

.product-option-layout {
    width: 100%;
    height: auto;
    display: none;
}

.layout-product-img:hover .product-option-layout {
    display: block;
}
.layout-product-img:hover img {
    opacity: 0.8;
    margin-top: -10px;
}
.layout-product-img:hover {
    margin-top: -10px;
}
.option-product-home {
    width: 20%;
    height: 100px;
    position: absolute;
    margin-top: -230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-detail {
    width: 170px;
    height: 100%;
    padding: 20px;
    border: 1px solid #ffc229;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.option-detail .fa-search,
.option-detail .fa-shopping-cart,
.option-detail .fa-heart-o {
    color: white;
    background: rgba(76, 175, 80, 0);
    font-size: 18px;
    width: 40px;
    height: 40px;
    animation-duration: 0.8s;
    animation-name: option;
}

@keyframes option {
    from {
        margin-top: -50px;
    }
    to {
        margin-top: 0px;
    }
}

.option-detail a .fa-search,
.option-detail a .fa-shopping-cart,
.option-detail a .fa-heart-o {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.option-detail .fa-search:hover {
    background-color: #ffc229;
}

.option-detail .fa-shopping-cart:hover {
    background-color: #ffc229;
}

.option-detail .fa-heart-o:hover {
    background-color: #ffc229;
}
.product-title-home{
    width: 100%;
    height: auto;
    color:#888;
    margin-top: 10px;
    padding: 2px;
    cursor: pointer;
}
.product-title-home:hover {
    color: white;
}
.product-home p{
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}
.title-quantty-product-home{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*  */
.img-container-3 {
    width: 100%;
    height: 40rem;
    background-color:rgba(21, 31, 32);
}

.container-body-there{
    width: 100%;
    height: 40rem;
    padding: 30px;
}
.container-body-there-title{
    font-weight: 300;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    font-size: 36px;
}
.container-body-there-product-person{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.container-body-there-product-column{
    width: 30%;
    height: 100%;
}
.container-body-there-product-row-top{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-body-there-product-row-top img{
    width: 120px;
    height: 100%;
    border-radius: 50%;
}
.container-body-there-product-row-top-bottom{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.container-body-there-product-row-top-bottom h3,
.container-body-there-product-row-top-bottom p{
    text-align: center;
    line-height: 20px;
    color: #888;
}
.container-body-there-product-row-top-bottom h3{
    color: white;
    font-weight: 200;
}
.container-body-there-product-row-top-bottom p{
    font-weight: 600;
    font-size: 12px;
}
.container-body-there-product-row-body{
    width: 100%;
    height: 130px;
    margin-top: 15px;
}
.container-body-there-product-row-body p{
    font-size: 14px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #888;
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-body-there-product-row-option{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-option-icon{
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-option-icon i{
    font-size: 16px;
}
.container-body-there-product-person:hover{
    cursor: pointer;
}
.container-option-icon i.fa-twitter{
    color: #53ABEE;
}
.container-option-icon i.fa-empire{
    color: #8D385B;
}
.container-option-icon i.fa-linkedin{
    color: #0976B4;
}
/* body2 */
.container-body-two{
    width: 100%;
    height: 100%;
}
.container-body-two-title{
    font-weight: 30;
    color:#2e2e2e;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    font-size: 36px;
}
.container-body-layout-des{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.container-body-two-des{
    width: 50%;
    text-align: center;
    color: #C7C5C3;
    font-weight: 200;
}

.container-body-layout-btn{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.btn-see-detail-body-two{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #ffc229;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    outline: none;
    transition: 0.5s ease-in-out;
}
.btn-see-detail-body-two:hover{
    background-color: #fca22c;
    margin-left: 20px;
}

.img-container-2 {
    width: 100%;
    height: auto;
    background-color:rgb(255, 255, 255)
}

.container-product-two-home{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}
.btn-see-more-body-two{
    width: auto;
    height: auto;
    text-align: center;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    outline: none;
    transition: 0.4s ease-in-out;
    animation: btn 1s ease-in-out infinite alternate;
}

@-webkit-keyframes btn {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e2e2e, 0 0 40px #2e2e2e, 0 0 50px #2e2e2e,
            0 0 60px #2e2e2e, 0 0 70px #2e2e2e;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #616161, 0 0 40px #616161, 0 0 50px #616161, 0 0 60px #616161,
            0 0 70px #616161, 0 0 80px #616161;
    }
}
.btn-see-more-body-two:hover{
    margin-top: -20px;
    background-color: #505050;
}
.product-title-home-body-two{
    width: 100%;
    height: auto;
    color:#888;
    margin-top: 10px;
    padding: 2px;
    cursor: pointer;
}
.product-title-home-body-two:hover {
    color: #0976B4;
}

/* footer */
.footer-top{
    background-color: #252422;
    width: 100%;
    height: auto;
}
.footer-bottom{
    background-color: #FFFFFF;
    width: 100%;
    height: 190px;
}
.container-footer-top-top{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-footer-top-top .ip-text-bottom{
    background: rgba(76, 175, 80, 0);
    outline: none;
    border: none;
    width: 250px;
    height: 50px;
    color: white;
    padding: 5px;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    padding-left: 10px;
    /* border: 1px solid white; */
}
.container-footer-top-top .ip-text-bottom:hover{
    border: 1px solid  #888;
}
.container-footer-top-top .ip-text-bottom:focus{
    border: 1px solid  #888;
}
.container-footer-top-top .btn-text-bottom{
    width: 220px;
    height: 50px;
    background-color: white;
    font-weight: 700;
    color: #555;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container-footer-bottom{
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.footer-bottom-column{
    width: 400px;
    height: 100%;
}

.footer-bottom-row-contact{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #D2D5D4;
    color: #D2D5D4;
    cursor: pointer;
}
.footer-bottom-row-contact a{
    color: #D2D5D4;
    font-size: 13px;
    text-transform: uppercase;
}
.footer-bottom-row-contact-bottom{
    width: 100%;
    height: 30%;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    color: #D2D5D4;
}
.footer-bottom-row-icon{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
.footer-bottom-row-icon .fa-facebook{
    padding: 15px 18px 15px 18px ;
    background-color: #3B5998;
    border-radius: 50%;
    text-align: center;
}
.footer-bottom-row-icon .fa-twitter{
    background-color: #53ABEE;
    padding: 15px 16px 15px 16px ;
    border-radius: 50%;
    text-align: center;
}
.footer-bottom-row-icon .fa-linkedin{
    background-color: #0976B4;
    padding: 15px 16px 15px 16px ;
    border-radius: 50%;
    text-align: center;
}
.footer-bottom-row-icon .fa-google-plus{
    background-color: #CC2127;
    padding: 15px 14px 15px 14px ;
    border-radius: 50%;
    text-align: center;
}
.container-option-icon .fa , .footer-bottom-row-icon .fa{
    transition: 0.4s ease-in-out;
}
.container-option-icon .fa:hover,.footer-bottom-row-icon .fa:hover{
    margin-top: -15px;
}